# Data Modeling

In [20]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# read parquet files into dataframes
offer_df = pd.read_parquet('data/offer_df.parquet')
offer_complete_df = pd.read_parquet('data/offer_complete_df.parquet')
transaction_df = pd.read_parquet('data/transaction_df.parquet')

In [24]:
offer_complete_df.sample(n=5)

,user_id,offer_id,time,age,income,days_as_member,F,M,O,reward,difficulty,duration,email,mobile,social,web,offer_completed,offer_viewed
12418,47abadbd4d4c42e2b38f71808f9c6cf3,2906b810c7d4411798c6938adc9daaa5,1224,276.0,189000.0,5511.0,0.0,3.0,0.0,6.0,30.0,21.0,3.0,3.0,0.0,3.0,1,1
9177,3604bb2fce684eb8ba96f2c7d1fffa92,2298d6c36e964ae4a3e7e9706d1fb8c2,630,228.0,240000.0,7758.0,3.0,0.0,0.0,9.0,21.0,21.0,3.0,3.0,3.0,3.0,1,1
31747,b68cef801a9d49c08c253d6b1634db4f,2906b810c7d4411798c6938adc9daaa5,960,62.0,116000.0,3976.0,0.0,2.0,0.0,4.0,20.0,14.0,2.0,2.0,0.0,2.0,0,1
37943,dbb37c0caad54f4a979a8121de79d0a2,2906b810c7d4411798c6938adc9daaa5,1074,111.0,177000.0,5841.0,0.0,3.0,0.0,6.0,30.0,21.0,3.0,3.0,0.0,3.0,1,1
14754,5532539d40724979849cc7b6e8cda9a9,4d5c57ea9a6940dd891ad53e9dbe8da0,1740,156.0,174000.0,7557.0,3.0,0.0,0.0,30.0,30.0,15.0,3.0,3.0,3.0,3.0,1,1

In [25]:
data = offer_complete_df
data

,user_id,offer_id,time,age,income,days_as_member,F,M,O,reward,difficulty,duration,email,mobile,social,web,offer_completed,offer_viewed
1,0009655768c64bdeb2e877511632db8f,f19421c1d4aa40978ebb69ca19b0e20d,1278,99.0,216000.0,6768.0,0.0,3.0,0.0,15.0,15.0,15.0,3.0,3.0,3.0,3.0,1,1
2,0009655768c64bdeb2e877511632db8f,fafdcd668e3743c1bb461111dcafc2a4,1572,99.0,216000.0,6768.0,0.0,3.0,0.0,6.0,30.0,30.0,3.0,3.0,3.0,3.0,1,1
3,0011e0d4e6b944f998e987f904e8c1e5,0b1e1539f2cc45b7b9fa7c272da2e1d7,1416,120.0,171000.0,5979.0,0.0,0.0,3.0,15.0,60.0,30.0,3.0,0.0,0.0,3.0,1,1
4,0011e0d4e6b944f998e987f904e8c1e5,2298d6c36e964ae4a3e7e9706d1fb8c2,606,120.0,171000.0,5979.0,0.0,0.0,3.0,9.0,21.0,21.0,3.0,3.0,3.0,3.0,1,1
5,0011e0d4e6b944f998e987f904e8c1e5,9b98b8c7a33c4b65b9aebfe6a799e6d9,1596,120.0,171000.0,5979.0,0.0,0.0,3.0,15.0,15.0,21.0,3.0,3.0,0.0,3.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44176,fffad4f4828548d1b5583907f2e9906b,f19421c1d4aa40978ebb69ca19b0e20d,1476,204.0,204000.0,14064.0,0.0,6.0,0.0,30.0,30.0,30.0,6.0,6.0,6.0,6.0,2,2
44177,ffff82501cea40309d5fdd7edcca4a07,0b1e1539f2cc45b7b9fa7c272da2e1d7,540,135.0,186000.0,7209.0,3.0,0.0,0.0,15.0,60.0,30.0,3.0,0.0,0.0,3.0,1,1
44178,ffff82501cea40309d5fdd7edcca4a07,2906b810c7d4411798c6938adc9daaa5,4044,405.0,558000.0,21627.0,9.0,0.0,0.0,18.0,90.0,63.0,9.0,9.0,0.0,9.0,3,3
44179,ffff82501cea40309d5fdd7edcca4a07,9b98b8c7a33c4b65b9aebfe6a799e6d9,1542,135.0,186000.0,7209.0,3.0,0.0,0.0,15.0,15.0,21.0,3.0,3.0,0.0,3.0,1,1
44180,ffff82501cea40309d5fdd7edcca4a07,fafdcd668e3743c1bb461111dcafc2a4,66,135.0,186000.0,7209.0,3.0,0.0,0.0,6.0,30.0,30.0,3.0,3.0,3.0,3.0,1,1

In [26]:
data.dtypes

user_id             object
offer_id            object
time                 int64
age                float64
income             float64
days_as_member     float64
F                  float64
M                  float64
O                  float64
reward             float64
difficulty         float64
duration           float64
email              float64
mobile             float64
social             float64
web                float64
offer_completed      uint8
offer_viewed         uint8
dtype: object

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import RFE
from sklearn.metrics import accuracy_score
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

data = offer_complete_df

# drop the user_id, offer_id, time columns
data = data.drop(['user_id', 'offer_id', 'time'], axis=1)

# drop all non numeric columns
# data = data.select_dtypes(include=['float64', 'int64'])

# make 'offer_completed' the last column
targetcol = data.pop('offer_completed')
data['offer_completed'] = targetcol

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(data.iloc[:,:-1], data.iloc[:,-1], test_size=0.2, random_state=42)

# Scale the data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create an instance of the XGBRegressor model
xgb = XGBRegressor()

# Create an instance of the RFE feature selector
rfe = RFE(estimator=xgb, n_features_to_select=5)

# Fit the RFE selector to the training data
rfe.fit(X_train_scaled, y_train)

# Print the selected features
selected_features = [data.feature_names[i] for i, mask in enumerate(rfe.support_) if mask]
print('Selected Features:', selected_features)

# Train the XGBRegressor model on the selected features
xgb.fit(X_train_scaled[:, rfe.support_], y_train)

# Evaluate the XGBRegressor model on the test data
y_pred = xgb.predict(X_test_scaled[:, rfe.support_])
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print('XGBRegressor R^2:', r2)
print('XGBRegressor MSE:', mse)
print('XGBRegressor MAE:', mae)

# Print the feature importance
importance = xgb.feature_importances_
for i,v in enumerate(importance):
    print('Feature: %s, Score: %.5f' % (selected_features[i],v))

# Plot predicted values versus actual values
plt.scatter(y_test, y_pred)
plt.xlabel('Actual values')
plt.ylabel('Predicted values')
plt.title('XGBRegressor Predicted vs Actual')
plt.show()

AttributeError: 'DataFrame' object has no attribute 'feature_names'

## Transactions Analysis (Future work)

In [5]:
transaction_df.sample(n=5)

,event,time,amount,age,user_id,income,days_as_member,F,M,O
293491,transaction,660,11.87,62.0,894d620373384c5f8c25e28d15de7959,69000.0,2200.0,0.0,1.0,0.0
83869,transaction,210,6.54,47.0,6c2c85ad5b244122a70425e6be34e0fd,30000.0,2876.0,1.0,0.0,0.0
104678,transaction,294,20.49,81.0,1e2409f59ddc41789a97580bc0b9a9db,82000.0,1950.0,0.0,1.0,0.0
24160,transaction,24,3.27,26.0,9a38b65ab2574937be1103ccab8d4e01,51000.0,1893.0,1.0,0.0,0.0
38966,transaction,84,15.27,58.0,edb03c88f2dd493b86165cbcf467edad,47000.0,2503.0,1.0,0.0,0.0

In [6]:
# create a correlation matrix with amount
amount_corr = transaction_df.corr()[['amount']].sort_values(by='amount', ascending=False)
amount_corr

                  amount
amount          1.000000
income          0.237198
age             0.091624
F               0.089546
time            0.005502
O               0.003051
days_as_member -0.033388
M              -0.089781

In [7]:
transaction_df[transaction_df.user_id =='27573d3ebc154a48a9cd245ae16b71a2']

,event,time,amount,age,user_id,income,days_as_member,F,M,O
38957,transaction,84,1.00,26.0,27573d3ebc154a48a9cd245ae16b71a2,34000.0,1969.0,0.0,1.0,0.0
107542,transaction,312,3.66,26.0,27573d3ebc154a48a9cd245ae16b71a2,34000.0,1969.0,0.0,1.0,0.0
110383,transaction,330,5.81,26.0,27573d3ebc154a48a9cd245ae16b71a2,34000.0,1969.0,0.0,1.0,0.0
282668,transaction,624,2.31,26.0,27573d3ebc154a48a9cd245ae16b71a2,34000.0,1969.0,0.0,1.0,0.0

In [8]:
# group the transactions by user_id and sum the amount
transaction_df_group = transaction_df.groupby('user_id').agg({'amount': 'sum'}).reset_index()
transaction_df_group.head()

                            user_id  amount
0  0009655768c64bdeb2e877511632db8f  127.60
1  0011e0d4e6b944f998e987f904e8c1e5   79.46
2  0020c2b971eb4e9188eac86d93036a77  196.86
3  0020ccbbb6d84e358d3414a3ff76cffd  154.05
4  003d66b6608740288d6cc97a6903f4f0   48.34

In [9]:
# Future to-do, analyse which customers spend the most and target them with offers